In [1]:
import pandas as pd

In [4]:
compare_09 = pd.read_csv('/Users/jinxing/Desktop/512/hanlon-jupyter-mysql-for-students/mysql/data/compare_217_1709.csv')

In [43]:
raw_Week1 = pd.read_csv('/Users/jinxing/Desktop/672/raw_df_Week1.csv')

In [39]:
compare_09.head()

,ITEM_NUM,AD_170903,sale_170903,AD_170910,sale_170910,AD_170917,sale_170917,AD_170924,sale_170924
0,10010013,5,10,5,16,\N,12,\N,15
1,10010039,7,12,7,10,\N,10,\N,7
2,10010055,5,29,3,11,3,25,3,20
3,10010097,5,11,3,17,3,12,3,15
4,10010102,3,3,3,8,3,9,\N,5

In [40]:
compare_09['max'] = compare_09[['sale_170903','sale_170910','sale_170917','sale_170924']].max(axis = 1)
compare_09['min'] = compare_09[['sale_170903','sale_170910','sale_170917','sale_170924']].min(axis = 1)

In [33]:
type(compare_09['min'][2])

numpy.float64

In [44]:
raw_Week1.head()

,CUST_NUM,AD_SIZE,UPC_13_NUM,ITEM_NUM,UPC_SCAN_QTY,TTL_SCAN_DLR_AMT,TTL_SCAN_WGHT_AMT,BASECST_AMT,DSCNT_AMT,REQ_ITM_PUR_QTY,...,DIGTL_DSCNT_AMT,DIGTL_REQ_PUR_QTY,DIGTL_REMBRS_AMT,MIXNMTCH_DSCNT_AMT,MXM_REQITMPUR_QTY,MXM_REMBRS_AMT,PPC_COUP_SCAN_QTY,DGS1_COUP_SCAN_QTY,MIX_COUP_SCAN_QTY,week
0,216,9.0,1111101209,11120586,8,63.12,0.0,6.4700,4.24,2,...,0.0,0,0.0,0.0,0,0.0,164,0,0,2017-03-05
1,216,9.0,1111107626,11125528,32,252.48,0.0,6.7925,4.24,2,...,0.0,0,0.0,0.0,0,0.0,164,0,0,2017-03-05
2,216,9.0,1111121648,11121867,21,165.69,0.0,6.5416,4.24,2,...,0.0,0,0.0,0.0,0,0.0,164,0,0,2017-03-05
3,216,9.0,1111134786,11120170,29,228.81,0.0,6.7900,4.24,2,...,0.0,0,0.0,0.0,0,0.0,164,0,0,2017-03-05
4,216,9.0,1111140784,11125285,8,63.12,0.0,6.3775,4.24,2,...,0.0,0,0.0,0.0,0,0.0,164,0,0,2017-03-05

In [45]:
del raw_Week1['UPC_13_NUM']

In [49]:
raw_217 = raw_Week1[['week','CUST_NUM','AD_SIZE','ITEM_NUM','UPC_SCAN_QTY']]

In [51]:
raw_217 = raw_217.loc[raw_217['CUST_NUM'] ==217]

In [56]:
del raw_217['CUST_NUM']

In [57]:
raw_217.head()

           week  AD_SIZE  ITEM_NUM  UPC_SCAN_QTY
450  2017-03-05      9.0  10063333             2
451  2017-03-05      9.0  10061357             2
452  2017-03-05      9.0  10063888             6
453  2017-03-05      9.0  11123267             3
454  2017-03-05      9.0  11120586             5

In [62]:
raw_217.to_csv('week1_sale_217.csv',index = False)

In [60]:
type(raw_217['week'][450])

str

In [63]:
raw_Week2 = pd.read_csv('/Users/jinxing/Desktop/672/raw_df_Week2.csv')

In [64]:
raw_217_2 = raw_Week2[['week','CUST_NUM','AD_SIZE','ITEM_NUM','UPC_SCAN_QTY']]
raw_217_2 = raw_217_2.loc[raw_217_2['CUST_NUM'] ==217]

KeyError: 'CUST_NUM'

In [66]:
del raw_217_2['CUST_NUM']

In [67]:
raw_217_2.to_csv('week2_sale_217.csv',index = False)